<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>




</head>

<body style="background-color:rgb(119, 230, 215);">

    <H1> Pregunta 5 </H1>
    <br>
    <p> Por favor escuhe la pregunta atentamente y respondala en voz alta</p>
    <audio controls>
        <source src="P5.mpeg" type="audio/mpeg">
     Tu explorador no soporta audio html 
    </audio>

    <br>
    <br>
    <H2> Este sitio web ha sido la parte practica, para finalizarla, por favor subirla a GitHub </H2>
    <br>
    <H2> Ha finalizado el Parcial Final, Gracias</H2>



</body>

</html>