<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>




</head>

<body style="background-color:yellowgreen">

    <H1> Pregunta 4</H1>
    <br>
    <p> Por favor escuhe la pregunta atentamente y respondala en voz alta</p>
    <audio controls>
        <source src="P4.mpeg" type="audio/mpeg">
     Tu explorador no soporta audio html 
    </audio>

    <br>
    <button onclick="window.location.href='Pregunta5.html'">Continue</button>

</body>

</html>